.title {
  text-align: center;
  color: black;
  
 }


body{
    font-family: Moon Flower;
    font-size: 46px;
    background-color: palevioletred;
    background-size: 800px 600px;
}


canvas {   
  display: table;
  margin: 80 auto;
  border: 20px dotted black;
  
}