.title {
  text-align: center;
  color: black;
}

body{
    font-family: monospace;
    font-size: 32px;
    background-color: palevioletred;
    background-size: 800px 600px;
}


canvas {   
  display: table;
  margin: 160 auto;
  border: 20px dotted black;
  
}